* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    /* box-sizing: border-box; */
}
.parentofheadder{
    position: relative;
}
.headder {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 2rem 0;
}

.logo {
    padding-left: 2rem;
}

ul {
    margin-right: auto;
}

.headder ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0.2rem 0 0 2rem;
    padding: 0 5rem;
}

.headder ul li a {
    text-decoration: none;
    color: rgb(165, 165, 167);
}

.headder ul li {
    list-style: none;
}

.profile {
    max-width: 25%;
}

.cartandprofile {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}
.flexx {
    display: flex;
}
.cartitemsbutton{
    border: none;
    padding-top: 0.7rem;
    background-color: inherit;
    font-size: 1.2rem;
    cursor: pointer;
}
#emptycart{
    position: absolute;
    left: 75%;
    top: 75%;
    max-width: 40%;
    box-shadow: 3px 2px rgb(165, 165, 167);
    border: grey 2px solid ;
    background-color: white;
    display: none;
    border-radius: 1rem;
}
.cartheaddingone{
    font-weight: 700;
    border-bottom:  rgb(165, 165, 167) 1px solid;
    padding: 0.8rem 0 1.4rem 1rem;
}
.cartheaddingtwo{
    font-weight: 700;
    border-bottom:  rgb(165, 165, 167) 1px solid;
    padding: 0.8rem 0 1.4rem 1rem;
}
.yourcartisempty{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 4rem;
}
#notanemptycart{
    position: absolute;
    left: 75%;
    top: 75%;
    max-width: 17.5%;
    box-shadow: 3px 2px rgb(165, 165, 167);
    border: grey 2px solid ;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    display: none;
}
.productdescriptionincartflexone{
    display: flex;
    flex-direction: row;

}
.productdescriptionincart{
    padding: 1.5rem 0 3.5rem 1rem;
}
.textinsidecart{
    margin: auto;
}
.divforimgincart{
    max-width: 30%;
    margin: auto;
}
.productdescriptionincartflexone img{
    max-width: 70%;
    border-radius: 1rem;
}
.checkoutinsidecart{
    width: 80%;
    margin: auto;
    background-color: hsl(26, 100%, 55%);
    border-radius: 1rem;
    color: white;
    font-weight: 700;
    padding: 0.8rem 0;
    margin: 0 auto 1rem auto;
    cursor: pointer;
    box-shadow: 2px 2px rgb(165, 165, 167);
}
.checkoutinsidecartdiv{
    display: flex;
}
.pricedivinsidecart{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: auto;
}
.productnameincart,.pricedivinsidecart{
    font-size: clamp(0.8rem, 3vw, 1rem);
}



hr {
    width: 75%;
    margin: auto;
}



/* .container{
    display: flex;
    flex-direction: row;
}
.bigimage{
    display: flex;
    justify-content: center;
    margin-left: 5rem;
}
.images{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
.miniviews{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: 4.6rem;
}

.text{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}
.companyname{
    font-size: 1rem;
    font-weight: 600;
    color: hsl(26, 100%, 55%);
}
.title{
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0.5rem 0;
} */


.container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: nowrap;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin: 5rem 0 0 6rem;
    gap: 1rem;
}

.bigimage {
    display: flex;
    justify-content: center;
}
.bigimagem,.slideleftarrow,.sliderightarrow{
    display: none;
}

.displayproductimage {
    max-width: 50%;
}
.oneimg:hover{
    opacity: 50%;
    border:hsl(26, 100%, 55%) 3px solid ;
}
.twoimg:hover{
    opacity: 50%;
    border:hsl(26, 100%, 55%) 3px solid ;
}
.threeimg:hover{
    opacity: 50%;
    border:hsl(26, 100%, 55%) 3px solid ;
}
.fourimg:hover{
    opacity: 50%;
    border:hsl(26, 100%, 55%) 3px solid ;
}


.displayproductimagetwo,.displayproductimagethree,.displayproductimagefour{
    display: none;
    padding: 0;
}
.miniviews {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 0;
    justify-content: space-around;
}

.miniviews img {
    max-width: 75%;
}

.text {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    max-width: 30%;
}

.oneimg,
.twoimg,
.threeimg,
.fourimg {
    margin: auto;
    cursor: pointer;
}

.oneimg,
.twoimg,
.threeimg,
.fourimg,
.displayproductimage {
    border-radius: 1rem;
}

.companyyname {
    font-size: 1rem;
    font-weight: 600;
    color: hsl(26, 100%, 55%);
}

.title {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.flexxone {
    display: flex;
    gap: 2rem;
}

.discount {
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    padding: 0.3rem 0.7rem 0 0.7rem;
    font-weight: 700;
}

.originalprice {
    text-decoration: line-through;
    padding: 1rem 0;
    color: rgb(165, 165, 167);
}

.incart {
    display: flex;
    margin: 2rem 0;
    width: 45%;
    border-radius: 1rem;
    justify-content: space-around;
}

.remove,
.add {
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
}

.remove {
    border-radius: 1rem 0 0 1rem;
    padding-left: 1.5rem;
    background-color: inherit;
}

.add {
    border-radius: 0 1rem 1rem 0;
    padding-right: 1.5rem;
    background-color: inherit;
}

.displayquantity {
    padding: 0.8rem 3rem;
    padding-top: 1.1rem;
}

.description {
    color: rgb(165, 165, 167);
    margin: 0.5rem auto 2rem auto;
}

.discountedprice {
    font-weight: 700;
    font-size: 1.6rem;
}

.incartandaddtocart {
    display: flex;
    gap: 5rem;
}

.addtocart {
    margin-top: 2.1rem;
    color: white;
    font-weight: 400;
    background-color: hsl(26, 100%, 55%);
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    max-height: 3rem !important;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
}
.incart,.addtocart{
    box-shadow: 5px 5px rgb(165, 165, 167);
}




@media screen and (max-width: 50rem) {
    .headder{
        padding:1rem 0;
    }
    .container {
        flex-wrap: wrap;
    }

    .bigimage,.headder div ul,.miniviews,hr  {
        display: none;
    }

    .displayproductimage {
        max-width: 100%;
    }

    .images {
        margin: auto;
        max-width: 100%;
    }

    .oneimg,
    .twoimg,
    .threeimg,
    .fourimg,
    .displayproductimage {
        border-radius: 0;
    }

    .text {
        margin: 2rem auto;
        max-width: 90%;
    }

    .price {
        display: flex;
        justify-content: space-around;
    }

    .discount {
        padding: auto 0.2rem;
    }

    .originalprice {
        padding: 0.3rem 0;
    }

    .incartandaddtocart {
        margin-top: 3rem;
    }

    .incartandaddtocart {
        flex-wrap: wrap;
        justify-content: center;
    }

    .addtocart,.incart {
        width: 90%;
        margin: 0;
        gap: 0;
    }
    .addtocart{
        padding: 1.5rem;
        display: flex;
        justify-content: space-evenly;
    }
    #emptycart{
        margin: auto;
        max-width: 200%;
        width: 95%;
        left: 1.5%;
    }
    #notanemptycart{
        margin: auto;
        max-width: 200%;
        width: 95%;
        left: 1.5%;
    }
    .productnameincart,.pricedivinsidecart{
        margin: auto;
        font-size: 1.1rem;
    }
    .mobileview{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .bigimagem{
        display: flex;
        flex-direction: row;
    }
    .displayproductimagem{
        max-width: 100%;
    }
    .slideleftarrow,.sliderightarrow{
        display: block;
        transform: translateY(-50%);
    }
    .fa-circle-arrow-left,.fa-circle-arrow-right{
        cursor: pointer;
        position: absolute;
        font-size: 2rem;
    }
    .fa-circle-arrow-right{
        right: 3%;    
    }
}